.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 15px 30px;

  background: #1f2937;

  color: white;

  margin-bottom: 20px;
}

.nav-links {

  display: flex;

  gap: 20px;
}

.nav-links a {

  color: white;

  text-decoration: none;

  font-weight: 500;
}

.nav-links a:hover {

  color: #60a5fa;
}